{% extends 'base.html' %}
{% load static %}

<!-- add searchpanes for filters https://datatables.net/extensions/searchpanes/examples/performance/searchPanes50k.html -->

{% block title %}{{table_name}}{% endblock %}

{% block extracss %}
<link type="text/css" href="{% static 'css/datatables/dataTables.dataTables-2.1.8.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/datatables/buttons.dataTables-3.1.2.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/datatables/fixedColumns.dataTables-5.0.3.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/datatables/dataTables.extra.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/datatables/jquery.nouislider.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block extraheadjs %}
<script type="application/javascript" src="{% static 'js/datatables/dataTables-2.1.8.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/datatables/dataTables.buttons-3.1.2.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/datatables/buttons.dataTables-3.1.2.js' %}"></script>
<script type="application/javascript" src="{% static 'js/datatables/buttons.html5-3.1.2.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/datatables/dataTables.fixedColumns-5.0.3.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/datatables/fixedColumns.dataTables-5.0.3.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/datatables/jquery.nouislider.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/fontawesome.js' %}"></script>
<script type="application/javascript" src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}

{% block content %}
{% csrf_token %}
{% include 'sidebar.html' %}
<div id="datatable-div-container" class="overflow-container">
</div>
{% endblock %}

{% block extrajavascript %}
<script>
    // clear all localStorage variables on load (for table filter/ordering)
    window.onload = function() {
        window.localStorage.clear();
    }

    // https://datatables.net/faqs/index#speed
    var table;
    var datatableContainer;
    var manualSet = false; // boolean used to fire set only for second handle when setting noUislider with key input
    const THRESHOLD = 500 // 500 ms delay before considering input when typing in column filters
    var timer;
    var checkbox_ready = false;
    let column_dict = {{columns | safe}};
    let col_string = "{{col_string}}";
    let database_order = {{database_order | safe}};

    const operators = ["<", "<=", ">", ">=", "=", "=="];

    check_columns();

    function floatedVals(vals) {
        return vals.map(val => parseFloat(val));
    }

    function splitAllComparisons(filterVal) {
        const pattern = '(?:' + operators.join('|') + ')\\s*\\d+(?:\\.\\d+)?';
        return filterVal.match(new RegExp(pattern, 'g')); // g is to search all matches
    }

    function has_comp_operator(operator, filterVal) {
        return new RegExp("^[ ]*" + operator + "[ ]*\\d+(\\.\\d+)?[ ]*$").test(filterVal);
    }

    function is_one_number(filterVal) {
        return /^[ ]*\d+(\.\d+)?[ ]*$/.test(filterVal);
    }

    function get_filter_array(filterVal, colMin, colMax) { // return array with min/max values for float/int filters. Accepts ... > < notations.
        // TODO : for now < and > do not exclude bounds, which is counterintuitive. To recheck.

        // one number (get all values equal to this number)
        if (is_one_number(filterVal)) {
            return floatedVals([filterVal, filterVal]);
        }

        // ellipsis
        filterVals = filterVal.split("...");
        if (/^[ ]*\d+(\.\d+)?[ ]*[.]{3}[ ]*$/.test(filterVal)) { // left val only
            return floatedVals([filterVals[0], colMax]);
        }else if (/^[ ]*[.]{3}[ ]*\d+(\.\d+)?[ ]*$/.test(filterVal)) { // right val only
            return floatedVals([colMin, filterVals[1]]);
        }else if (/^[ ]*\d+(\.\d+)?[ ]*[.]{3}[ ]*\d+(\.\d+)?[ ]*$/.test(filterVal)) { // val on both sides
            return floatedVals(filterVals)
        }

        // operators
        filterValList = splitAllComparisons(filterVal);
        if (filterValList == null) {
            return [];
        }
        let rangeMin = null;
        let rangeMax = null;
        for (filterElt of filterValList) {
            for (const op of operators) {
                if (has_comp_operator(op, filterElt)) { // one value only less/greater than or equal
                    switch (op) {
                        case "<":
                        case "<=":
                            if (rangeMax == null) {
                                rangeMax = filterElt.split(op)[1];
                            }else{
                                return [];
                            }
                            break;
                        case ">":
                        case ">=":
                            if (rangeMin == null) {
                                rangeMin = filterElt.split(op)[1];
                            }else{
                                return [];
                            }
                            break;
                        case "=":
                        case "==":
                            if (rangeMin == null && rangeMax == null) {
                                rangeMin = filterElt.split(op)[1];
                                rangeMax = filterElt.split(op)[1];
                            }else{
                                return [];
                            }
                            break;
                    }
                }
            }
        }
        if (rangeMax != null || rangeMin != null) {
            rangeMax = rangeMax == null ? colMax : rangeMax;
            rangeMin = rangeMin == null ? colMin : rangeMin;
            return floatedVals([rangeMin, rangeMax]);
        }
        return [];
    }

    function check_columns() {
        checkbox_ready = false;
        // Check cols on sidebar
        for (const [database, column_list] of Object.entries(column_dict)) {
            for (const col of column_list) {
                // NOTE : we use document.getElementById instead of $("#id").click() because the last is called three times when combined with inline onclick (see this post: https://github.com/jquery/jquery/issues/4493)
                let checkbox = document.getElementById("checkbox_col_"+col.id);
                checkbox.checked = true;
                check_instance(checkbox);
            }
        }
        checkbox_ready = true;
    }

    function getAjaxUrl() {
        return "{% url 'openlexiconApp:data' 'COL_PLACEHOLDER' %}".replace("COL_PLACEHOLDER", col_string);
    }

    function goExport(e, dt, button, config) {
        // NOTE:  We first make an ajax call to get the string url with filters
        // TODO : update columns value when clicking on sidebar filter
        $.ajax({
            url: getAjaxUrl(),
            data: Object.assign(table.ajax.params(), {"export_mode": button.text()}),
            success: function(data) { // we call URL without ajax to export
                window.location = data.url + "&export_post=1"
            }
        })
    }

    function clearFilters(e, dt, button, config) {
        $('#{{table_name}}_filterrow th').each(function (i) {
            $("#filterInput"+i).val("");
        })
        ordering = localStorage.getItem("ordering");
        window.localStorage.clear();
        localStorage["ordering"] = ordering;
        table.columns().search('').draw();
    }

    function set_table(redraw) { // if redraw is true, we are redrawing table after changing column selection. So we need to reapply filters and ordering.
        // Init table
        datatableContainer.innerHTML = `<table id="{{table_name}}" class="display table-content nowrap">
            <thead>
                <tr id="datatable_header">
                    <th id="ortho_col" class="text large-col">ortho</th>
                </tr>
                <tr id="{{table_name}}_filterrow">
                </tr>
            </thead>
        </table>`;

        // Setup table header
        $dbHeader = $("#datatable_header")
        for (const database_id of database_order) { // we have separate array of database ids to keep database order as we want (order of json object keys is not preserved)
            column_list = column_dict[database_id];
            for (const col of column_list) {
                colDescription = col.description != null ? col.description : '';
                $colHeader = $("<th id='"+database_id+"__"+col.id+"' class='"+col.type+" "+col.size+"-col' data-toggle='tooltip' data-placement='top' title='" + colDescription + "'>"+col.code+"</th>")
                $dbHeader.append($colHeader);
            }
        }

        // Style tooltips
        $('[data-toggle="tooltip"]').tooltip();

        // Setup - add a text input to each column
        // Get back filter columns
        let searchCols = [];
        let localStorageToKeep = {};
        // Get back ordering
        let ordering = null;
        let tableOrdering = [0, "asc"]; // default sort order is ortho
        if (redraw && localStorage.getItem("ordering") != null) {
            ordering = localStorage["ordering"].split(",");
        }
        $('#{{table_name}} thead th').each(function (i) {
            dataType = $(this).attr("class");
            // get filter value to redraw after new column selection
            let $filterVal = redraw ? localStorage.getItem($(this).attr("id")) : null;
            // add filter value to table initial filters.
            // TODO : better handle int/float values to avoid depending on input notation (...).
            // TODO handle regex : { search: '^[0-9]', regex: true }
            if (ordering != null && $(this).attr("id") == ordering[0]) {
                localStorageToKeep["ordering"] = ordering;
                tableOrdering = [i, ordering[1]];
            }
            if ($filterVal != null) {
                localStorageToKeep[$(this).attr("id")] = $filterVal;
                searchCols[i] = { search: ($(this).hasClass("int") || $(this).hasClass("float")) ? $filterVal.split(" ... ") : $filterVal };
            } else {
                searchCols[i] = null;
                $filterVal = '';
            }
            $("#{{table_name}}_filterrow").append('<th class="'+ dataType +'"><div tabindex="0" id="filterDiv'+i+'" class="form-group" style="margin-bottom: auto; position:relative"><input id="filterInput'+i+'" value="' + $filterVal + '" type="text" placeholder="All" class="form-control table-filter" data-index="' + i + '" /></div></th>');

            if ($(this).hasClass("int") || $(this).hasClass("float")) {
                let $input = $("#filterInput"+i);
                let $filterDiv = $("#filterDiv"+i);
                let $filterRange = $("<div id ='filterRange"+i+"' style='position: absolute; width: 202px; opacity: 1; z-index: 1; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px; padding: 50px 40px 10px 40px; display: none;'><div id='filterSlider"+i+"'></div></div>")
                $filterRange.insertAfter($input);

                // TODO : avoid using both jquery and js to get filterDiv. Find a way to handle focus in/out with only jquery.
                $filterDiv.on({
                    focusin: function() {
                        $filterRange.show().trigger('show');
                    },
                    focusout: function() {
                        if (!document.getElementById("filterDiv"+i).matches(':focus-within')) { // we hide slider if no focus inside div (on input or slider)
                            $filterRange.hide().trigger('hide');
                        }
                    }
                })
            }
        });

        // NOTE : clear all local storage except for columns that are still shown after redraw. This clears filters for columns that are not currently shown, so if we select them back, their filters will not be reapplied.
        window.localStorage.clear();
        for (const storageKey in localStorageToKeep) {
            localStorage[storageKey] = localStorageToKeep[storageKey];
        }

        table = $('#{{table_name}}').DataTable({
            orderCellsTop: true, // sorting is assigned to top row (not to filterrow)
            layout: {
                topStart: 'pageLength',
                topEnd: 'buttons',
                bottomStart: 'info',
                bottomEnd: 'paging'
            },
            paging: true, // DataTables can split the rows in tables into individual pages, which is an efficient method of showing a large number of records in a small space. The end user is provided with controls to request the display of different data as the navigate through the data
            lengthMenu: [20, 100, 500, 1000],
            buttons: [
                {text: 'Clear filters', action: clearFilters},
                {text: 'TSV', action: goExport},
                {text: 'EXCEL', action: goExport}
            ],
            serverSide: true, // https://datatables.net/examples/data_sources/server_side. With server-side processing enabled, all paging, searching, ordering actions that DataTables performs are handed off to a server where an SQL engine (or similar) can perform these actions on the large data set (after all, that's what the database engine is designed for!)
            ajax: {
                url: getAjaxUrl(),
                data: function (data) {
                  for (var i = 0, len = data.columns.length; i < len; i++) {
                    if (! data.columns[i].search.value) delete data.columns[i].search;
                    if (data.columns[i].searchable === true) delete data.columns[i].searchable;
                    if (data.columns[i].orderable === true) delete data.columns[i].orderable;
                    if (data.columns[i].data === data.columns[i].name) delete data.columns[i].name;
                  }
                  delete data.search.regex;
                }
            },
            searchCols: searchCols,
            processing: true, // Enable the display of a 'processing' indicator when the table is being processed
            scrollX: true,
            deferRender: true,
            orderClasses: false,
            order: [tableOrdering],
            // stateSave: true, // State saving - restore table state on page reload
            fixedColumns:true, // fix first column when scrolling right
            initComplete: function(settings, json) { // Add slider filters (needs to be done after table is initialized to get min/max slider values). Largely inspired by https://github.com/rstudio/DT/
                $('#{{table_name}}_filterrow th').each(function (i) {
                    if (!$(this).hasClass("dt-type-numeric")){ // character
                        let $column_id = $("th[data-dt-column='"+i+"']").attr("id");
                        $("#filterInput"+i).on('keyup', function (event) {
                            if (timer) { // clear previous timer if there is one
                               clearTimeout(timer);
                            }
                            let index = $(this).data('index');
                            let value = this.value;
                            timer = setTimeout(function() {
                                // Search filter
                                table
                                    .column(index)
                                    .search(value)
                                    .draw();
                                localStorage[$column_id] = value;
                            }, THRESHOLD);
                        });
                    }
                });
                setSliders(json.min_max_dict);
            }
        });

        table.ready(function() {
            handle_checkbox_disable(false);
        });

        table.on( 'order', function (e, settings, ordArr) {
            if (ordArr.length > 0) {
                let ordering = ordArr[0];
                let $column_id = $("th[data-dt-column='"+ ordering.col+ "']").attr("id");
                localStorage["ordering"] = [$column_id, ordering.dir];
            }else if (localStorage.getItem("ordering") != null) { // delete ordering from localStorage if no ordering
                localStorage.removeItem("ordering");
            }
        } );

        // remove the overflow: hidden attribute of the scrollHead (otherwise the scrolling table body obscures the filters if scrollX is enabled)
        // The workaround and the discussion from https://github.com/rstudio/DT/issues/554#issuecomment-518007347
        // Table needs to go to the far right of the page for this change to not be visible for user (titles overflowing to the right)
        $(document).find('.dt-scroll-head,.dt-scroll-foot,.dt-scroll-body').each(function() {
            $(this).css("overflow", "visible");
        })
        $(document).find('.dt-scroll').each(function() {
            $(this).css("overflow-x", "scroll");
        })
    }

    $(document).ready(function() {
        datatableContainer = document.getElementById("datatable-div-container");
        set_table(false);
    });

    const compareArrays = (a, b) => {
        return JSON.stringify(a) === JSON.stringify(b);
    };

    function setSliders(data) {
        for(const id in data){
            let data_column = [data[id].min, data[id].max];
            let i = $("#"+id).attr("data-dt-column");
            let filterSlider = document.getElementById("filterSlider"+i);
            let $filterInput = $("#filterInput"+i);
            let step = null;
            let format = null;
            if ($("#filterSlider"+i).closest("th").hasClass("int")) {
                step = 1;
                format = {
                    from: function(value) {
                        return parseInt(value);
                    },
                    to: function(value) {
                        return parseInt(value);
                    }
                }
            }
            noUiSlider.create(filterSlider, {
                start: data_column,
                range: {'min': data_column[0], 'max': data_column[1]},
                connect: true,
                tooltips: true,
                step: step,
                format: format
            });

            filterSlider.noUiSlider.on('set', function( values, handle ) {
                if (!compareArrays(values.map(function(e) {return parseFloat(e);}), data_column)) {
                    if (!manualSet) { // set filter text format to default only if using slider
                        $filterInput.val(values[0] + " ... " + values[1]);
                    }
                }else{
                    $filterInput.val("")
                    values = ""; // set values to empty string to avoid searching for min/max values (which equals applying no filter)
                }
                if (!manualSet || handle == 1) { // if manualset, we want handle == 1 to avoid triggering slider twice (for both handles)
                    table
                        .column($filterInput.data('index'))
                        .search(values)
                        .draw();
                    manualSet = false;
                    if (values.length == 2) {
                        localStorage[id] = values.join(" ... ");
                    }else{ // remove filter if no value entered
                        localStorage.removeItem(id);
                    }
                }
            });

            $filterInput.on('input', function() {
                if (timer) { // clear previous timer if there is one
                   clearTimeout(timer);
                }
                timer = setTimeout(function() {
                    v = $filterInput.val();
                    isvalid = true;
                    if (v == "") { // all
                        v = data_column;
                    } else {
                        v = get_filter_array(v, data_column[0], data_column[1]);
                        if (v.length !== 2 || isNaN(v[0]) || isNaN(v[1]) || v[0] > v[1]) {
                            $filterInput.addClass('is-invalid');
                            isvalid = false;
                        }
                    }
                    if (isvalid) {
                        $filterInput.removeClass('is-invalid');
                        manualSet = true;
                        filterSlider.noUiSlider.set(v);
                    }
                }, THRESHOLD);
            });
        }
    }

</script>
{% endblock %}
