{% extends 'base.html' %}
{% load static %}

<!-- add searchpanes for filters https://datatables.net/extensions/searchpanes/examples/performance/searchPanes50k.html -->

{% block title %}{{table_name}}{% endblock %}

{% block extracss %}
<style>
.large-col {
    min-width: 200px;
}

.medium-col {
    min-width: 150px;
}

.small-col {
    min-width: 70px;
}
</style>
{% endblock %}

{% block content %}
{% csrf_token %}
<table id="{{table_name}}" class="display nowrap" style="width: 100% !important">
    <thead>
        <tr>
            <th>Ortho</th>
            <th>Phon</th>
            <th>Lemme</th>
            <th>Cgram</th>
            <th>freqlemfilms2</th>
            <th>freqfilms2</th>
            <th>nblettres</th>
            <th>puorth</th>
            <th>puphon</th>
            <th>nbsyll</th>
            <th>cgramortho</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block extrajavascript %}
<script>
    // https://datatables.net/faqs/index#speed
    var table;
    $(document).ready(function() {
        table = $('#{{table_name}}').DataTable({
            layout: {
                topStart: 'pageLength',
                topEnd: 'search',
                bottomStart: 'info',
                bottomEnd: 'paging',
                bottom2End: 'buttons'
            },
            paging: true, // DataTables can split the rows in tables into individual pages, which is an efficient method of showing a large number of records in a small space. The end user is provided with controls to request the display of different data as the navigate through the data
            lengthMenu: [20, 100, 500, 1000],
            buttons: [
                {text: 'CSV', action: goExport},
                {text: 'EXCEL', action: goExport}
            ],
            serverSide: true, // https://datatables.net/examples/data_sources/server_side. With server-side processing enabled, all paging, searching, ordering actions that DataTables performs are handed off to a server where an SQL engine (or similar) can perform these actions on the large data set (after all, that's what the database engine is designed for!)
            ajax: "{% url 'openlexiconApp:data' %}",
            processing: true, // Enable the display of a 'processing' indicator when the table is being processed
            columnDefs: [
                {className: "large-col", targets:[0,1,2]},
                {className: "medium-col", targets:[10]},
                {className: "small-col", targets:[3,4,5,6,7,8,9]},
            ],
            columns: [
                { name: "ortho", data: 0 },
                { name: "phon", data: 1 },
                { name: "lemme", data: 2 },
                { name: "cgram", data: 3 },
                { name: "freqlemfilms2", data: 4 },
                { name: "freqfilms2", data: 5 },
                { name: "nblettres", data: 6 },
                { name: "puorth", data: 7 },
                { name: "puphon", data: 8 },
                { name: "nbsyll", data: 9 },
                { name: "cgramortho", data: 10 },
            ],
            scrollX: true,
        });
    });

    function goExport(e, dt, button, config) {
        window.location = "{% url 'openlexiconApp:export_data' 'EXPORT_CODE' 'SEARCH' %}".replace("EXPORT_CODE", button.text()).replace('SEARCH', dt.search().trim())
    }

</script>
{% endblock %}
