<!-- TODO : hide sidebar on small screens (phone) ? Use classes : navbar-collapse collapse d-none -->
<form id="filter_form" method="POST">
    {% csrf_token %}
    <div id="sidebar_filter" class="col p-0 text-white w-sidebar d-md-flex sidebar">
        <!-- fixed sidebar -->
        <div class="navbar-light w-sidebar">
            <button id="howto" type="button" class="btn btn-default btn-sidebar" style="margin-top:1em">
              Show Quick How-To
            </button>
            <div class="toggable-wrapper toggle-hide">
                <div id="div_howto" class="toggable-div hide">
                    <b>Quick how-to</b>
                    <ul>
                        <li>Choose a <b>language</b> to see the available datasets in the language below.</li>
                        <li>Click on desired <b>tags</b>. For instance, if you want datasets that give measures of subjective frequency, click on the <b>Subjective frequency</b> tag. Note: a dataset may have several tags (e.g., AoA_FreqSub_1493 gives measures of <b>Age of acquisition</b> and <b>Subjective frequency</b>).</li>
                        <li>Select desired <b>datasets</b>. If you want more informations about a specific dataset, you can hover over its tooltip.</li>
                        <li>Select <b>columns</b> to display for each dataset.</li>
                        <li>For each column in the table, you can:</li>
                        <ul>
                            <li>Hover the mouse over the column name to see a brief description</li>
                            <li>Filter using <b>intervals (e.g. 40...500)</b> or <b><a href="http://www.lexique.org/?page_id=101" target="_blank">regular expressions</a></b></li>
                            <li>Sort, ascending or descending</li>
                        </ul>
                        <li>Click on the button <b>Show Word List Search</b> to enter words that you want to search in the table.</li>
                        <li><b>Download</b> the result of your manipulations by clicking on the TSV or EXCEL buttons above the table</li>
                    </ul>
                </div>
            </div>

            <!-- Languages -->
            <hr>
            <div class="section_title">Choose a language</div>
            <select id="language_select" class="nav-menu-text language list-group-item list-group-item-action" aria-label="Language selection">
                {% for category, category_dict in all_languages.items %}
                    <option  value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>

            <!-- Word search -->
            <hr>
            <button id="listsearch" type="button" class="btn btn-default btn-sidebar">
              Show Word List Search
            </button>
            <div class="toggable-wrapper toggle-hide">
                <div id="div_listsearch" class="toggable-div hide">
                    <div class="section_title">Words to search</div>
                    <div class="section_help">Please separate your words with a line break.</div>
                    <textarea id="words_search" class="form-control" rows="10" autocomplete="off"></textarea>
                </div>
            </div>

            <!-- Favorites -->
            <hr>
            <div class="section_title">Choose tags</div>
            {% with all_dict=all_favorites icon="star" %}
                {% include 'categoryMenu.html' %}
            {% endwith %}
            <!-- Tags -->
            {% with all_dict=all_tags icon="tag" %}
                {% include 'categoryMenu.html' %}
            {% endwith %}
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        $('.nav-menu-text').each(function(){
            collapse_menu(this);
        });
        // Open favorites menu. TODO : find more robust way to do so and replace this by localstorage if some menus were saved as expanded
        open_menu($("#category_Favorites_head"));

        {% for database in all_columns.keys %}
            database_info = "{{database.info}}";
            {% if database.website is not None %}
                database_info += "<br><br><b>Language</b> : {{database.language}}<br>{% if database.nbWords != None %}<b>Nb Words</b> : {{database.nbWords}}<br>{% endif %}<b>Tags</b> : {% for tag in database.tags.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{tag.name}}{% endfor %}<br><b><a href='{{database.website}}' target='_blank'>Site web</a></b>{% if database.biblio != None %}<br><b>Ref</b> : {{database.biblio}}{% endif %}"
            {% endif %}
            make_popover("submenu_{{database.id}}", database_info, label=true);
        {% endfor %}

        $("#words_search").on("input", function(event) { // trigger ortho input on words_search change
            $("#filterInput0").trigger("input");
        })

        // buttons
        document.getElementById("listsearch").addEventListener('click', function() {
            handle_button_show(this);
            $("#filterInput0").trigger("input");
        });

        document.getElementById("howto").addEventListener('click', function() {
            handle_button_show(this);
        });
    })

    function handle_button_show(button) {
        let el = document.getElementById('div_'+button.id);
        if (el.classList.contains('hide')) {
            el.classList.remove('hide');
            el.parentNode.classList.remove('toggle-hide');
            button.innerHTML = "Hide" + button.innerHTML.replace("Show", "");
        } else {
            el.classList.add('hide');
            el.parentNode.classList.add('toggle-hide');
            button.innerHTML = "Show" + button.innerHTML.replace("Hide", "");
        }
    }

    function handle_checkbox_disable(bool) {
        $("#sidebar_filter").find('input').each(function () {
             $(this).prop('disabled', bool);
         });
    }

    function filter_callback() {
        if (checkbox_ready) { // makes sure we do not trigger the ajax call if checkboxing results from initial selection of checkbox (on GET)
            // disable checkbox while we work
            handle_checkbox_disable(true);
            let new_col_string = [];
            let new_column_dict = {};
            let new_database_order = [];
            {% for database, column_list in all_columns.items %}
                {% for column in column_list %}
                    if ($("[data-item='input_col_{{column.id}}'").first().prop("checked")) {
                        new_col_string.push("{{database.id}}__{{column.id}}");
                        json_key = {{database.id}};
                        if (!new_column_dict.hasOwnProperty(json_key)) {
                            new_column_dict[json_key] = [];
                            new_database_order.push(json_key);
                        }
                        new_column_dict[json_key].push({id: {{column.id}}, code: "{{column.code}}", size: "{{column.size}}", type: "{{column.type}}"});
                    }
                {% endfor %}
            {% endfor %}
            col_string = new_col_string.join(",");
            column_dict = new_column_dict;
            database_order = new_database_order;
            set_table(true);
        }
    }

    function check_all(object) {
        $('input[name='+$(object).attr("name")+']').each(function(){
            $(this).prop('checked', $(object).prop('checked'));
        });
        // check database copies
        $('input[data-item='+$(object).attr("data-item")+']').each(function(){
            $(this).prop('indeterminate', $(object).prop('indeterminate'));
            $(this).prop('checked', $(object).prop('checked'));
        });

        filter_callback();
    }

    function click_check_instance(object, check_status, filter) {
        if (check_status == null) {
            check_status = object.checked;
        }
        let checkboxes = document.querySelectorAll('[data-item="'+$(object).attr("data-item")+'"]');
        for (checkbox of checkboxes) {
            checkbox.checked = check_status;
            check_instance(checkbox);
        }
        if (filter) {
            filter_callback();
        }
    }

    function check_instance(object){
        let database = $(object).attr("name");
        let category = $(object).attr("data-parent");
        let nb_checked = $('#submenu_'+category+'_'+database+' :input[name='+database+']:checked').length;
        let checkbox_db = $("#checkbox_"+category+"_db_"+database);
        checkbox_db.prop("indeterminate", false);
        if (nb_checked == $('#submenu_'+category+'_'+database+' :input[name='+database+']').length) {
            checkbox_db.prop("checked", true);
        }else if (nb_checked == 0) {
            checkbox_db.prop("checked", false);
        }else{
            checkbox_db.prop("indeterminate", true);
        }
    }
</script>
