<!-- TODO : hide sidebar on small screens (phone) ? Use classes : navbar-collapse collapse d-none -->
<form id="filter_form" method="POST">
    {% csrf_token %}
    <div id="sidebar_filter" class="col p-0 text-white w-sidebar d-md-flex sidebar">
        <!-- fixed sidebar -->
        <div class="navbar-light w-sidebar">
            <div class="how-to">
                <b>Quick how-to</b>
                <ul>
                    <li>Click on desired <b>tags</b>. For instance, if you want only databases in english, click on the <b>English</b> tag. Note: a dataset may have several tags (e.g., <b>Lexique3</b> is a <b>French</b> database and gives measures of <b>Subjective Frequency</b>).
                    <li>Select desired <b>datasets</b>. If you want more informations about a specific dataset, you can hover over its tooltip.</li>
                    <li>Select <b>columns</b> to display for each dataset.</li>
                    <li>For each column in the table, you can:</li>
                    <ul>
                        <li>Hover the mouse over the column name to see a brief description</li>
                        <li>Filter using <b>intervals (e.g. 40...500)</b> or <b><a href="http://www.lexique.org/?page_id=101" target="_blank">regular expressions</a></b></li>
                        <li>Sort, ascending or descending</li>
                    </ul>
                    <li><b>Download</b> the result of your manipulations by clicking on the TSV or EXCEL buttons above the table</li>
                </ul>
            </div>

            <!-- Favorites -->
            {% with all_dict=all_favorites icon="star" %}
                {% include 'categoryMenu.html' %}
            {% endwith %}
            <!-- Languages -->
            {% with all_dict=all_languages icon="globe" %}
                {% include 'categoryMenu.html' %}
            {% endwith %}
            <!-- Tags -->
            {% with all_dict=all_tags icon="tag" %}
                {% include 'categoryMenu.html' %}
            {% endwith %}
        </div>
    </div>
</form>

<script>
    $('.nav-menu-text').each(function(){
        collapse_menu(this);
    });
    // Open favorites menu. TODO : find more robust way to do so and replace this by localstorage if some menus were saved as expanded
    open_menu($("#category_Favorites_head"));

    {% for database in all_columns.keys %}
        database_info = "{{database.info}}";
        {% if database.website is not None %}
            database_info += "<br><br><b>Language</b> : {{database.language}}<br><b>Tags</b> : {% for tag in database.tags.all %}{% if forloop.counter0 > 0 %}, {% endif %}{{tag.name}}{% endfor %}<br><b>Site web</b> : <a href='{{database.website}}' target='_blank'>{{database.website}}</a>"
        {% endif %}
        make_popover("submenu_{{database.id}}", database_info, label=true);
    {% endfor %}

    function handle_checkbox_disable(bool) {
        $("#sidebar_filter").find('input').each(function () {
             $(this).prop('disabled', bool);
         });
    }

    function filter_callback() {
        if (checkbox_ready) { // makes sure we do not trigger the ajax call if checkboxing results from initial selection of checkbox (on GET)
            // disable checkbox while we work
            handle_checkbox_disable(true);
            let new_col_string = [];
            let new_column_dict = {};
            let new_database_order = [];
            {% for database, column_list in all_columns.items %}
                {% for column in column_list %}
                    if ($("[data-item='input_col_{{column.id}}'").first().prop("checked")) {
                        new_col_string.push("{{database.id}}__{{column.id}}");
                        json_key = {{database.id}};
                        if (!new_column_dict.hasOwnProperty(json_key)) {
                            new_column_dict[json_key] = [];
                            new_database_order.push(json_key);
                        }
                        new_column_dict[json_key].push({id: {{column.id}}, code: "{{column.code}}", size: "{{column.size}}", type: "{{column.type}}"});
                    }
                {% endfor %}
            {% endfor %}
            col_string = new_col_string.join(",");
            column_dict = new_column_dict;
            database_order = new_database_order;
            set_table(true);
        }
    }

    function check_all(object) {
        $('input[name='+$(object).attr("name")+']').each(function(){
            $(this).prop('checked', $(object).prop('checked'));
        });
        // check database copies
        $('input[data-item='+$(object).attr("data-item")+']').each(function(){
            $(this).prop('indeterminate', $(object).prop('indeterminate'));
            $(this).prop('checked', $(object).prop('checked'));
        });

        filter_callback();
    }

    function click_check_instance(object, check_status, filter) {
        if (check_status == null) {
            check_status = object.checked;
        }
        let checkboxes = document.querySelectorAll('[data-item="'+$(object).attr("data-item")+'"]');
        for (checkbox of checkboxes) {
            checkbox.checked = check_status;
            check_instance(checkbox);
        }
        if (filter) {
            filter_callback();
        }
    }

    function check_instance(object){
        let database = $(object).attr("name");
        let category = $(object).attr("data-parent");
        let nb_checked = $('#submenu_'+category+'_'+database+' :input[name='+database+']:checked').length;
        let checkbox_db = $("#checkbox_"+category+"_db_"+database);
        checkbox_db.prop("indeterminate", false);
        if (nb_checked == $('#submenu_'+category+'_'+database+' :input[name='+database+']').length) {
            checkbox_db.prop("checked", true);
        }else if (nb_checked == 0) {
            checkbox_db.prop("checked", false);
        }else{
            checkbox_db.prop("indeterminate", true);
        }
    }
</script>
