<!-- TODO : hide sidebar on small screens (phone) ? Use classes : navbar-collapse collapse d-none -->
<form id="filter_form" method="POST">
    {% csrf_token %}
    <div id="sidebar_filter" class="col p-0 text-white w-sidebar d-md-flex sidebar">
        <!-- fixed sidebar -->
        <div class="navbar-light w-sidebar">
            <div class="how-to">
                <b>Quick how-to</b>
                <ul>
                    <li>Select desired <b>datasets</b>. If you want more informations about a specific dataset, you can hover over its tooltip.</li>
                    <li>Select <b>columns</b> to display for each dataset.</li>
                    <li>For each column in the table, you can:</li>
                    <ul>
                        <li>Hover the mouse over the column name to see a brief description</li>
                        <li>Filter using <b>intervals (e.g. 40...500)</b> or <b>regular expressions</b></li>
                        <li>Sort, ascending or descending</li>
                    </ul>
                    <li><b>Download</b> the result of your manipulations by clicking on the TSV or EXCEL buttons above the table</li>
                </ul>
            </div>

            {% for database, column_list in all_columns.items %}
            <div> <!-- if we want only one dropdown open at any given time, add class "nav-menu" -->
                <div class="nav-menu-text list-group-item list-group-item-action" id="submenu_{{database.id}}_head" onclick="menu_click(event)">
                    <input type="checkbox" id="checkbox_db_{{database.id}}" name="{{database.id}}" class="database-checkbox" onclick="check_all(this)" autocomplete="off"/>
                    <span class="sidebar-span" title="{{database}}">{{database}}</span>
                    <span class="submenu-icon ml-auto"> <i class="fas"></i> </span>
                </div>
                <!-- Submenu area -->
                <div id='submenu_{{database.id}}' class="collapse submenu-collapse">
                    {% for column in column_list %}
                    <div id='div_check_{{column.id}}' class="list-group-item list-group-item-action navbar-item-text">
                        <input type="checkbox" id="checkbox_col_{{column.id}}" name="{{database.id}}" onclick="check_instance(this);" disabled autocomplete="off"/>
                        <label for="checkbox_col_{{column.id}}" style="margin-bottom:0" data-toggle="tooltip" data-placement="top" title="{% if column.description != None %}{{column.description}}{% endif %}">{{column}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</form>

<script>
    function reveal_menu(object){
        let menu = $(object).parents('.nav-menu-text'); // database checkbox
        if (menu.prop("id") == undefined) { // column checkbox
            menu = $(object).parents('.submenu-collapse').prev();
        }
        // If check all, open menu if not already the case
        if ($(object).prop('checked') && !menu_is_open(menu)) {
            // open_menu(menu);
        }
    }

    $('.nav-menu-text').each(function(){
        // var state = localStorage.getItem($(this).prop('id'));
        // if(state === 'expanded'){
        if (false) {
            expand_menu(this);
        } else {
            collapse_menu(this);
        }
    });

    {% for database in all_columns.keys %}
        database_info = "{{database.info}}";
        {% if database.website is not None %}
            database_info += "<br><br><b>Site web</b> : <a href='{{database.website}}' target='_blank'>{{database.website}}</a>"
        {% endif %}
        make_popover("submenu_{{database.id}}_head", database_info, label=true);
    {% endfor %}

    function handle_checkbox_disable(bool) {
        $("#sidebar_filter").find('input').each(function () {
             $(this).prop('disabled', bool);
         });
    }

    function filter_callback() {
        if (checkbox_ready) { // makes sure we do not trigger the ajax call if checkboxing results from initial selection of checkbox (on GET)
            // disable checkbox while we work
            handle_checkbox_disable(true);
            let new_col_string = [];
            let new_column_dict = {};
            let new_database_order = [];
            {% for database, column_list in all_columns.items %}
                {% for column in column_list %}
                    if ($("#checkbox_col_{{column.id}}").prop("checked")) {
                        new_col_string.push("{{database.id}}__{{column.id}}");
                        json_key = {{database.id}};
                        if (!new_column_dict.hasOwnProperty(json_key)) {
                            new_column_dict[json_key] = [];
                            new_database_order.push(json_key);
                        }
                        new_column_dict[json_key].push({id: {{column.id}}, code: "{{column.code}}", size: "{{column.size}}", type: "{{column.type}}"});
                    }
                {% endfor %}
            {% endfor %}
            col_string = new_col_string.join(",");
            column_dict = new_column_dict;
            database_order = new_database_order;
            set_table(true);
        }
    }

    function check_all(object) {
        $('input[name='+$(object).attr("name")+']').each(function(){
            $(this).prop('checked', $(object).prop('checked'));
        });
        reveal_menu($(object));
        filter_callback();
    }

    function check_instance(object){
        let database = $(object).attr("name");
        let nb_checked = $('#submenu_'+database+' :input[name='+database+']:checked').length;
        $("#checkbox_db_"+database).prop("indeterminate", false);
        if (nb_checked == $('#submenu_'+database+' :input[name='+database+']').length) {
            $("#checkbox_db_"+database).prop("checked", true);
            reveal_menu($(object));
        }else if (nb_checked == 0) {
            $("#checkbox_db_"+database).prop("checked", false);
        }else{
            $("#checkbox_db_"+database).prop("indeterminate", true);
            reveal_menu($(object));
        }
        filter_callback();
    }
</script>
